In [4]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import torchvision
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [5]:
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

In [6]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [8]:
csv_path = '/content/gdrive/MyDrive/shenzhen_tubeculosis/shenzhen_metadata.csv'

In [9]:
df = pd.read_csv(csv_path)

In [11]:
df = df.sample(frac=1).reset_index(drop=True)

In [14]:
df.head(20)

             study_id     sex  age                                 findings
0   CHNCXR_0230_0.png    Male   44                                   normal
1   CHNCXR_0076_0.png    Male    1                                   normal
2   CHNCXR_0049_0.png  Female   35                                   normal
3   CHNCXR_0482_1.png  Female   30             PTB in the right lower field
4   CHNCXR_0163_0.png    Male   28                                   normal
5   CHNCXR_0141_0.png  Female   36                                   normal
6   CHNCXR_0347_1.png    Male   24              PTB in the left lower field
7   CHNCXR_0083_0.png    Male   37                                   normal
8   CHNCXR_0390_1.png    Male   25                                Right PTB
9   CHNCXR_0662_1.png    Male   32  secondary PTB  in the right upper field
10  CHNCXR_0102_0.png  Female   25                                   normal
11  CHNCXR_0618_1.png    Male   25                            bilateral PTB
12  CHNCXR_0274_0.png  Female   64                                   normal
13  CHNCXR_0597_1.png    Male   36                                Right PTB
14  CHNCXR_0522_1.png    Male   33                            bilateral PTB
15  CHNCXR_0557_1.png    Male   27                                Right PTB
16  CHNCXR_0228_0.png    Male    1                                   normal
17  CHNCXR_0641_1.png    Male   28                       left secondary PTB
18  CHNCXR_0282_0.png    Male   46                                   normal
19  CHNCXR_0583_1.png    Male   29                                Right PTB

In [26]:
X = df['study_id']
df['is_tube'] = np.array(df['findings'] != 'normal', dtype=int)
df.head(10)

            study_id     sex  ...                                 findings is_tube
0  CHNCXR_0230_0.png    Male  ...                                   normal       0
1  CHNCXR_0076_0.png    Male  ...                                   normal       0
2  CHNCXR_0049_0.png  Female  ...                                   normal       0
3  CHNCXR_0482_1.png  Female  ...             PTB in the right lower field       1
4  CHNCXR_0163_0.png    Male  ...                                   normal       0
5  CHNCXR_0141_0.png  Female  ...                                   normal       0
6  CHNCXR_0347_1.png    Male  ...              PTB in the left lower field       1
7  CHNCXR_0083_0.png    Male  ...                                   normal       0
8  CHNCXR_0390_1.png    Male  ...                                Right PTB       1
9  CHNCXR_0662_1.png    Male  ...  secondary PTB  in the right upper field       1

[10 rows x 5 columns]

In [27]:
from sklearn.model_selection import train_test_split

X = df['study_id']
y = df['is_tube']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=42)

In [30]:
class

354    CHNCXR_0217_0.png
209    CHNCXR_0224_0.png
257    CHNCXR_0339_1.png
468    CHNCXR_0143_0.png
467    CHNCXR_0468_1.png
616    CHNCXR_0620_1.png
137    CHNCXR_0153_0.png
430    CHNCXR_0460_1.png
331    CHNCXR_0462_1.png
296    CHNCXR_0108_0.png
Name: study_id, dtype: object